// main layout
doctype 5
html
	head
		title "Trees"
		meta(name='Content-Type', content='text/html', charset='utf-8')
		script(src='http://code.jquery.com/jquery.min.js')
		script(src='/javascripts/client.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block head
	body
		block content
