// tree
extends layout

block content
	h1 #JPOGobelins2013
	h2 Admin!

	div
	script(src="javascripts/processing.js")
	script(type="text/processing", src="javascripts/tree.js", data-processing-target="processing-canvas" )

	canvas(id="processing-canvas")